@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h3>Kontakt</h3>

<p>
    Numer telefonicznej rejestracji:
    321 321 321.
    Numer Informacji:
    546 546 546.
</p>

<address>
    Adres biura:
    Olsztyn    Oczapowskiego 11/10
    10 - 777    
</address>

<address>
    <strong>Rejestracja:</strong> Rejestracja@TicketOrderAPI.com<br />
    <strong>Informacja:</strong> Informacja@TicketOrderAPI.com
</address>
